<!DOCTYPE html>
<html>
<head>
    <title>ToDo アプリ</title>
</head>
<body>
    <form action="/logout" method="get" style="margin-top:10px;">
        <button type="submit">ログアウト</button>
    </form>
    
    <h1>{{ username }} さんの ToDo リスト</h1>
    <form method="POST">
        <input type="text" name="title" placeholder="新しいタスク">
        <button type="submit">追加</button>
    </form>
    <ul>
      {% for task in tasks %}
          <li>
              {% if task.done %}
                  ✅ <s>{{ task.title }}</s>
              {% else %}
                  ⬜ {{ task.title }}
              {% endif %}
              <small>（{{ task.created_at }}）</small>
              <a href="/toggle/{{ task.id }}">切替</a>
              <a href="/delete/{{ task.id }}">削除</a>
          </li>
      {% endfor %}
    </ul>

    

    <!-- フラッシュメッセージ表示 -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul style="color:red;">
          {% for msg in messages %}
            <li>{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
